*/target/
*/nb-configuration.xml
/publicboard/publicboard-ejb/target/
/doc/report/*.aux
/doc/report/*.out
/doc/report/*.pdf
/doc/report/*.gz
/doc/report/*.log
/doc/report/*.toc
/doc/report/*.hst
/doc/report/*.ver
/trustee/election-coordinator/target/
/trustee/tallier/target/