**/target/
/doc/report/*
!/doc/report/*.tex
!/doc/report/*.pdf
**/derby.log
/admin-client/etc
/admin-client/dist
/voting-client/bower_components/
/voting-client/etc/
/voting-client/node/
/voting-client/node_modules/
/voting-client/nb-configuration.xml
